
name: Make PR
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v1
      
    - name: View Repo
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} gh repo view
    
    - name: Generate Branch Name
      run: |
           export BRANCH="bot-$(date +"%Y%s")"
           echo "::set-env name=BRANCH::$BRANCH"
    
    - name: Checkout Branch
      run: git checkout -b $BRANCH
  
    - name: Make Change
      run: temp.txt < $(date)
    
    - name: Commit
      run: |
           git add package.json
           git commit -m "chore(package.json) Update copyright to $(date +"%Y")"
           git push --set-upstream origin $BRANCH
    
    - name: Create PR
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} gh pr create
