
name: Make PR
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v2
      
    - name: View Repo
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} gh repo view
    
    - name: Generate Branch Name
      run: |
           echo "bot-$(date +"%Y%s")" > BRANCH
           cat BRANCH
           
    - name: Checkout Branch
      run: git checkout -b $(cat BRANCH)
  
    - name: Make Change
      run: date > temp.txt
    
    - name: Commit
      run: |
           git config user.name github-actions
           git config user.email bot@imagemovermd.com
           git add temp.txt
           git commit -m "chore(temp) Update copyright to $(date +"%Y")"
           git push --set-upstream origin $(cat BRANCH)
    
    - name: Create PR
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} gh pr create
