
name: Make PR
on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Git Checkout
      uses: actions/checkout@v1
      
    - name: View Repo
      run: GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} gh repo view
